@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";

@layer base {
   :root {
     --font-poppins: "Poppins", sans-serif;
   }
 
   body {
     font-family: var(--font-poppins);
   }
 }

 @layer utilities {
   .font-poppins {
     font-family: "Poppins", sans-serif;
   }
 }
 
